.formInvoice
  .labelField
    width 100%
    padding-left 0

    @media (min-width: 768px)
      text-align left

.formGroupField
  margin-bottom 0

.formInvoiceButton
  margin-left -5px
  display inline-block

.paddingLeft_null
  padding-left 0
